<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document PUBLIC "-//APACHE//DTD Documentation V2.0//EN"
"http://forrest.apache.org/dtd/document-v20.dtd">
<document xml:lang="en">
    <header>
        <title>Events</title>
    </header>
    <body>
        <ul>
            <li><a href="seminars/cg-11/CG-kurs.html">CG-kurs 2011</a></li>
            <li><a href="workshops/NorWEST2014/NorWEST2014.html">NorWEST2014</a></li>
        </ul>
    </body>
</document>
